@CHARSET "UTF-8";

.boxsizingBorder{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
li{
	list-style: none;
}
#exchange{
	display: none;
}
#formApis fieldset{
	float:left;
	width:31%
}
#formTokens, #formApis button{
	clear:both
}
pre{
	padding: 20px;
	border: solid 1px;
}
.clear{
	clear:both;
}
#dashboard, #exchanges{
	width: 49%;
	float:left;
}
#noconf{
	display: none;
}
#backup, #restore{
	float: left;
	width: 50%;
}
#backup textarea, #restore textarea{
	width: 100%;
}
.delAddress, .addAddress{
	cursor: pointer;
}
.back{
	clear:both;
}
#dashboard{
	margin-bottom: 15px;
	float: left;
}
#logger{
	font-size: 0.75em; margin-top: 10px
}
li{
	line-height: 1.8em;
}
.crypto, .exchange{
	text-decoration: none;
	color: maroon;
	line-height: 15px;
}
.crypto:hover{
	text-decoration: underline;
	color: gray;
}
label span:BEFORE{
	content: '';
}
label span{
	clear: both;
	font-size: 0.7em;
	font-style: italic;
}